# Connection settings
listen_addresses = '*'
port = {{ postgres_port }}
max_connections = 200
superuser_reserved_connections = 3

# Replication settings
wal_level = replica
max_wal_senders = 3
max_replication_slots = 3
wal_keep_size = 128MB

# Performance
shared_buffers = 256MB
effective_cache_size = 1GB
work_mem = 16MB
maintenance_work_mem = 64MB
random_page_cost = 1.1
effective_io_concurrency = 200
wal_buffers = 16MB

# Logging
log_statement = 'all'
log_min_duration_statement = 0

# Other
hot_standby = on
hot_standby_feedback = on
