[Unit]
Description=etcd
After=network.target
Wants=network-online.target

[Service]
Type=notify
User=root
ExecStart=/usr/local/bin/etcd \
  --data-dir={{ etcd_data_dir }} \
  --listen-client-urls={{ etcd_listen_client_urls }} \
  --advertise-client-urls={{ etcd_advertise_client_urls }} \
  --listen-peer-urls={{ etcd_listen_peer_urls }} \
  --initial-advertise-peer-urls={{ etcd_initial_advertise_peer_urls }} \
  --initial-cluster={{ etcd_initial_cluster }} \
  --initial-cluster-state={{ etcd_initial_cluster_state }} \
  --initial-cluster-token={{ etcd_initial_cluster_token }} \
  --enable-v2=true
Restart=on-failure
RestartSec=5

[Install]
WantedBy=multi-user.target
